#edit-head {
    border-radius: 12px;
    background-color: #f4eeeb;
    border: 0.4px solid rgba(157, 111, 78, 0.3);
    box-sizing: border-box;
    width: 79%;
    overflow: hidden;
    font-size: 16px;
    color: #000;
    font-family: Lato;
}
#head-icon {
    overflow: hidden;
    color: #9d6f4e;
    display: grid;
    font-size: 24px;
    margin-top: 15px;
}
#icon-back {
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.22);
    width: 54px;
    height: 54px;
    text-align: center;
}
#head-btn {
    border-radius: 4px;
    border: 0.3px solid rgba(148, 148, 148, 0.9);
    box-sizing: border-box;
    width: 120px;
    height: 34.3px;
    /* padding: 10px; */
    font-size: 16px;
    line-height: 18px;
    font-family: Lato;
    color: #000;
}
#head-btn:hover {
    font-family: Lato;
    color: #fff;
    background-color: #9d6f4e;
}
#photo-back {
    background-image: url("edit-card-img/ceo-back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 340px;
    height: 260px;
}
h4 {
    font-size: 20.78px;
    letter-spacing: 0.01em;
    line-height: 32.11px;
    font-weight: 600;
    font-family: Lato;
    color: #000;
}
#work {
    font-size: 14px;
    letter-spacing: 0.01em;
    line-height: 16px;
    font-family: Lato;
    color: #232323;
}
#sale {
    font-size: 17px;
    letter-spacing: 0.01em;
    line-height: 19px;
    font-weight: 600;
    font-family: Lato;
    color: #418ace;
}
#company {
    font-size: 13px;
    letter-spacing: 0.01em;
    line-height: 14px;
    font-family: Lato;
    color: #808080;
}
#contact {
    border-radius: 15.11px;
    background-color: #f2f2f2;
    box-shadow: 0px 3.777777671813965px 3.78px rgba(0, 0, 0, 0.25);
}
#contact-icon {
    width: 65px;
    height: 65px;
}
#contact-text {
    font-size: 15.11px;
    letter-spacing: 0.01em;
    line-height: 50.67px;
    font-weight: 500;
    font-family: Lato;
    color: #5a5a5a;
}
#label-card {
    border-radius: 8px;
    background-color: #fffcfb;
    height: 120px;
    overflow: hidden;
    font-size: 20px;
    color: #373737;
    font-family: Lato;
}
.form-label {
    font-size: 20px;
    line-height: 24px;
    font-family: Lato;
    color: #373737;
    text-align: left;
}
.form-control {
    border-radius: 8px;
    border: 0.6px solid rgba(73, 73, 73, 0.9);
    box-sizing: border-box;
    height: 38.6px;
}
#img-card {
    border-radius: 8px;
    background-color: #fffcfb;
    /* height: 230px; */
    overflow: hidden;
    font-size: 20px;
    color: #373737;
    font-family: Lato;
}
#img-head {
    font-size: 20px;
    line-height: 24px;
    font-family: Lato;
    color: #373737;
    text-align: left;
}
#change-btn {
    border-radius: 6px;
    border: 0.7px solid rgba(125, 125, 125, 0.9);
    box-sizing: border-box;
    width: 112px;
    height: 34.7px;
    font-size: 14px;
    line-height: 16px;
    font-family: Lato;
    color: #5f5f5f;
}
#change-img {
    border-radius: 16px;
    background-color: #eaeaea;
    width: 140px;
    height: 84px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: Lato;
}
#change-img1 {
    border-radius: 16px;
    background-color: #eaeaea;
    width: 110px;
    height: 84px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: Lato;
}
#change-img-head {
    font-size: 16px;
    line-height: 19px;
    font-family: Lato;
    color: #494949;
}
#color-box {
    border-radius: 12px;
    background-color: #fffcfb;
    /* height: 126px; */
    overflow: hidden;
    text-align: left;
    font-size: 22px;
    color: #191919;
    font-family: Lato;
}
#color {
    border-radius: 50%;
    background: linear-gradient(
        180deg,
        #e45186 4.67%,
        rgba(209, 39, 202, 0.99) 19.24%,
        rgba(45, 20, 198, 0.99) 35.09%,
        rgba(48, 161, 196, 0.94) 53.07%,
        #0ba17d 64.13%,
        rgba(29, 186, 26, 0.99) 74.5%,
        rgba(189, 192, 28, 0.96) 81.06%,
        rgba(198, 46, 12, 0.89) 93.85%
    );
    width: 34px;
    height: 34px;
    margin-left: 33px;
}
#colors {
    border-radius: 50%;
    width: 34px;
    height: 34px;
}

.change {
    border-radius: 4px;
    border: 0.3px solid rgba(148, 148, 148, 0.9);
    box-sizing: border-box;
    width: 120px;
    height: 34.3px;
    /* padding: 10px; */
    font-size: 16px;
    line-height: 18px;
    font-family: Lato;
    color: #000;
}
.rectangle-div {
    border-radius: 15.11px;
    background-color: #f2f2f2;
    box-shadow: 0px 3.777777671813965px 3.78px rgba(0, 0, 0, 0.25);
}
.wavep {
    width: 100%;
}
@media (max-width: 600px) {
    .wavep {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .label {
        margin-left: 39px;
    }
}
.mask {
    width: 100%;
    margin-top: -62%;
}
.card-1 {
    background: #eaeaea;
    box-shadow: 0px 0px 0px grey;
    -webkit-transition: box-shadow 0.6s ease-out;
    box-shadow: 0.8px 0.9px 3px grey;
}
.card-1:hover {
    box-shadow: 1px 8px 20px grey;
    -webkit-transition: box-shadow 0.6s ease-in;
}
.modal-1 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-1 {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 1rem;
    border: 1px solid #888;
    /* width: 500px; */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.close-1 {
    color: #080707;
    font-size: 28px;
    font-weight: bold;
    margin-left: 92%;
}

.close-1:hover,
.close-1:focus {
    transform: scale(1.25);
    text-decoration: none;
    cursor: pointer;
}
a.modal-button1.plus {
    color: black;
    text-decoration: none;
}
.add-company-logo {
    font-size: 20px;
    line-height: 19px;
    font-family: Lato;
    color: #5b5b5b;
    text-align: left;
    margin-top: -29px;
    margin-left: 20px;
    font-weight: 600;
}
hr.img {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #161212;
}
.rectangle-div-new {
    border-radius: 8px;
    border: 0.8px dashed rgba(156, 156, 156, 0.97);
    box-sizing: border-box;
    width: 100%;
    height: 121.8px;
}
.browse {
    color: #9d6f4e;
}
.drop-your-image-container {
    font-size: 14px;
    line-height: 15px;
    font-family: Lato;
    text-align: left;
    color: #000;
    margin-top: 37px;
    margin-left: 113px;
}
#img-result {
    cursor: pointer;
    margin: 0;
    position: relative;

    background-size: cover;
    background-position: center;
    display: block;
    width: 150px;
    height: 150px;

    transition: box-shadow 0.3s, margin 0.3s, background-image 1.5s;

    &.no-image:before {
        font-family: "FontAwesome";
        content: "\f030";
        position: absolute;
        left: 50%;
        top: 50%;
        color: #fff;
        font-size: 48px;
        opacity: 0.8;
        transform: translate(-50%, -50%);
        text-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
    }
}

.show-button {
    background: #264974;
    border: none;
    color: #fff;
    padding: 10px 20px;
    float: right;
    display: none;
}

.upload-result {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-y: auto;

    &__content {
        word-break: break-all;
        font-family: "Source Code Pro";
        overflow-wrap: break-word;
    }
}
.support-jpg-jpeg {
    font-size: 12px;
    line-height: 14px;
    font-family: Lato;
    color: #818181;
    text-align: left;
    margin-top: -39%;
}
.rose {
    background: #d06189;
    color: white;
}
.red {
    background: #c42626;
    color: white;
}
.twist {
    background: #9d6f4e;
    color: white;
}
.olive {
    background: #c0962b;
    color: white;
}
.green {
    background: #32c22f;
    color: white;
}
.lightblue {
    background: #1cc2c2;
    color: white;
}
.blue {
    background: #418ace;
    color: white;
}
.darkblue {
    background: #272dc0;
    color: white;
}
.violet {
    background: #b440dd;
    color: white;
}
.black {
    background: #2b2b2b;
    color: white;
}
h1 {
    line-height: 1.25;
    margin: 2em 0 0;
}
p {
    margin: 0.5em 0;
}

#switcher {
    list-style: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    margin-top: -7px;
    margin-left: 16px;
}
#switcher li {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 15px 15px 0;
    border-radius: 30px;
    /* border: 3px solid black; */
}
.space {
    width: 49px;
}
@media (max-width: 600px) {
    .space {
        margin-left: 39px;
    }
}
.frame-parent {
    border-radius: 12px;
    background-color: #fff;
    border: 0.6px solid rgba(152, 152, 152, 0.88);
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 26px 40px;
    text-align: left;
    font-size: 18px;
    color: #000;
    font-family: Lato;
}
#label-card1 {
    border-radius: 8px;
    background-color: #fffcfb;
    overflow: hidden;
    font-size: 20px;
    color: #373737;
    font-family: Lato;
}
.plus1 {
    margin-top: -52px;
    margin-left: 91%;
}
.personal {
    /* width: 442px; */
}
.modal-content.personal {
    width: 57%;
    margin-left: 270px;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}
.multiple {
    margin-left: 93%;
}
.bluei {
    width: 100%;
    height: 100%;
}
.peform {
    width: 95%;
}
@media (max-width: 425px) {
    .res {
        left: -139px;
    }
}
.general-parent {
    border-radius: 12px;
    background-color: #fffcfb;
    width: 100%;
    height: 188px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #000;
    font-family: Lato;
}
.in {
    border: white;
    background-color: #f2f2f2;
}
input[type="text"] {
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(226, 213, 213);
    width: 100%;
}
#change-img2 {
    border-radius: 16px;
    /* background-color: #eaeaea; */
    width: 110px;
    height: 84px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: Lato;
}
.cancel-parent {
    border-radius: 4px;
    border: 0.3px solid rgba(148, 148, 148, 0.9);
    box-sizing: border-box;
    width: 100%;
    height: 34.3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Lato;
}
.save-parent {
    border-radius: 4px;
    background-color: #9d6f4e;
    width: 100%;
    height: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: Lato;
}
