@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: white;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}
.sidebar.open {
    width: 250px;
}
.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}
.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}
.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
    text-align: right;
}
.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}
.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}
.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
    margin-top: 26px;
    margin-left: -12px;
}
.sidebar li .tooltip {
    z-index: 3;
    background: black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
    margin-left: 52px;
    color: white;
}
.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}
.sidebar.open li .tooltip {
    display: none;
}
.sidebar input {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    /* background: #1d1b31; */
}
.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}
.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #fff;
}
.sidebar.open .bx-search:hover {
    background: #1d1b31;
    color: #fff;
}
.sidebar .bx-search:hover {
    background: #fff;
    color: #11101d;
}
.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
.sidebar li a:hover {
    background: #fff;
}
.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
    color: #11101d;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101d;
}
.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}
.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
}
.sidebar.open li.profile {
    width: 250px;
}
.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.sidebar li img {
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}
.sidebar li.profile .job {
    font-size: 12px;
}
.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}
.home-section {
    position: relative;
    background: #f4eeeb;
    min-height: 100vh;
    top: 0;
    left: 44px;
    /* width: calc(100% - 44px); */
    transition: all 0.5s ease;
    z-index: 2;
}
.sidebar.open ~ .home-section {
    left: 250px;
    /* width: calc(100% - 250px); */
}
.home-section .text {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 64px;
}
@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}
.card {
    margin-left: 22px;
}
.contact {
    margin-left: -46px;
}
.background {
    margin-left: -41px;
}
.email {
    margin-left: -45px;
}
.setting {
    margin-left: -43px;
}
.logout {
    margin-left: -41px;
}
.upgrade {
    margin-left: -42px;
}

.hide {
    display: none;
}

.now {
    margin-top: 112px;
}
.myDiv:hover + .hide {
    display: block;
    color: #11101d;
}

.sidebar li a:hover {
    background-color: #fffafc;
    margin-left: 17px;
}
.sidebar li img:hover {
    filter: brightness(0) saturate(100%);
}
.img {
    margin-left: 7px;
}
.h {
    height: 38px;
}
.line-div {
    filter: blur(0.9px);
    border-top: 0.6px solid #4b4b4b;
    box-sizing: border-box;
    width: 100%;
    height: 0.6px;
}

.about-parent {
    background-color: #f4eeeb;
    /* width: 1200px; */
    height: 65px;
    overflow: hidden;
    font-size: 16px;
    color: black;
    font-family: Poppins;
    font-weight: 500;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.d {
    margin-left: 215px;
    margin-top: 19px;
    word-spacing: 2em;
}
.solution {
    margin-left: 62px;
    line-height: 20px;
    font-weight: 300;
    cursor: pointer;
}
.price {
    margin-left: 65px;
    line-height: 20px;
    font-weight: 300;
    cursor: pointer;
}
.contactus {
    margin-left: 63px;
    line-height: 20px;
    font-weight: 300;
    cursor: pointer;
}
.about {
    line-height: 20px;
    font-weight: 300;
    cursor: pointer;
    line-height: 1.2em;
}
.outline-messages-conversati {
    width: 24px;
    height: 24px;
    overflow: hidden;
    margin-left: 367px;
    cursor: pointer;
}
.outline-notifications-bell {
    border-radius: 5px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    margin-left: 43px;
    cursor: pointer;
}
.frame-inner {
    border-radius: 50%;
    width: 36px;
    height: 35px;
    object-fit: cover;
    margin-left: 43px;
    margin-top: 1px;
}
.praveen {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-top: 4px;
    margin-left: 12px;
}

.outline-arrows-alt-arrow-d {
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin-left: 95%;
    margin-top: 6px;
}

.popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
}
.outline-settings-fine-tunin {
    border-radius: 5px;
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin-top: 15%;
    margin-left: 23px;
}
.outline-settings-fine-tunin-parent {
    background-color: #fff;
    width: 207px;
    height: 285px;
    overflow: hidden;
    max-width: 90%;
    max-height: 90%;
    text-align: left;
    font-size: 16px;
    color: #3f3f3f;
    font-family: Lato;
    line-height: 3em;
    margin-left: 83%;
    margin-top: -327px;
}
.settings {
    line-height: 20px;
    margin-top: -10%;
    margin-left: 63px;
}
.bxsupport-icon {
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin-left: 23px;
    margin-top: 9%;
}
.help-center {
    line-height: 20px;
    margin-left: 63px;
    margin-top: -9%;
}
.material-symbolshelp-outline-icon {
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin-left: 23px;
    margin-top: 9%;
}
.contact-suport {
    line-height: 20px;
    margin-left: 63px;
    margin-top: -9%;
}
.material-symbolsfeedback-outl-icon {
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin-left: 23px;
    margin-top: 9%;
}
.send-feedback {
    line-height: 20px;
    margin-top: -10%;
    margin-left: 63px;
}
.iconoirprivacy-policy {
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin-top: 10%;
    margin-left: 23px;
}
.privacy-policy {
    line-height: 20px;
    margin-left: 63px;
    margin-top: -9%;
}
.component-54-icon {
    width: 147px;
    height: 703px;
    margin-left: 15px;
}
.dashboard {
    line-height: 32px;
    font-weight: 600;
    margin-top: 17px;
    margin-left: 86px;
}
.search-here {
    line-height: 16px;
    margin-top: -21px;
    margin-left: 85px;
}
.outline-search-magnifer {
    width: 24px;
    height: 24px;
    overflow: hidden;
    margin-top: 7px;
    margin-left: 17px;
}
.search-here-parent {
    border-radius: 8px;
    background-color: #f4eeeb;
    width: 403px;
    height: 38px;
    overflow: hidden;
    font-size: 14px;
    color: #c0a395;
    margin-top: -33px;
    margin-left: 50%;
}
.dashboard-parent {
    background-color: #fffdfc;
    width: 90%;
    height: 68px;
    overflow: hidden;
    text-align: left;
    font-size: 28px;
    color: #353535;
    font-family: Lato;
    margin-left: 6%;
    position: relative;
    top: 37px;
}

.up:hover {
    filter: brightness(0) saturate(100%) invert(61%) sepia(95%) saturate(465%)
        hue-rotate(333deg) brightness(100%) contrast(102%);
}
.frame-child {
    background-color: #ffffff;
    width: 327px;
    height: 259px;
    margin-top: 7%;
    margin-left: 17%;
}
.frame-item {
    background-color: #ffffff;
    width: 327px;
    height: 259px;
    margin-top: -259px;
    margin-left: 52%;
}
a.adject:hover {
    text-decoration: none;
    color: black;
}
a.adject {
    color: black;
    text-decoration: none;
}
